.App {
	min-height: 100vh;
	background-image: linear-gradient(to top, #ffd2f2 0%, #8b6bd4 100%);
}
.search-form {
	min-height: 10vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.search-bar {
	width: 50%;
	border-radius: 5px;
	border: 1px solid #52003a;
	padding: 10px;
	background: #ff68d47c;
}
.search-button {
	background: #f480ffde;
	color: black;
	border: none;
	border-radius: 5px;
	padding: 10px 20px;
	color: white;
}
.search-button:hover {
	position: relative;
	bottom: 2px;
	right: 2px;
	box-shadow: 2px solid pink;
	border: 1px solid pink;
}
.recipes {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}
